@model PersonViewModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1>@Localizer["PageTitle"]</h1>

<h3>@Localizer["ConfirmWarning"]</h3>
@Html.DisplayForModel(nameof(PersonViewModel))
<div>
    <form asp-action="@nameof(PersonController.Delete)">
        <input type="hidden" asp-for="Identifier" />
        <input type="submit" value="@SharedLocalizer["DeleteAction"]" class="btn btn-danger" /> |
        <a asp-action="@nameof(PersonController.Index)">@SharedLocalizer["BackToListAction"]</a>
    </form>
</div>
