@using CrudPerson.WebUI.Models.ViewModels;
@using CrudPerson.WebUI.Controllers;
@model PersonViewModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1>@Localizer["PageTitle"]</h1>

<h4>@SharedLocalizer["PersonEntityName"]</h4>
<hr />
@Html.DisplayForModel(nameof(PersonViewModel))

<div>
    <a asp-action="@nameof(PersonController.Edit)" asp-route-identifier="@Model.Identifier">@SharedLocalizer["EditAction"]</a> |
    <a asp-action="@nameof(PersonController.Delete)" asp-route-identifier="@Model.Identifier">@SharedLocalizer["DeleteAction"]</a> |
    <a asp-action="@nameof(PersonController.Index)">@SharedLocalizer["BackToListAction"]</a>
</div>
