@model PersonViewModel

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<h1>@Localizer["PageTitle"]</h1>

<h4>@SharedLocalizer["PersonEntityName"]</h4>
<hr />
@Html.EditorForModel(nameof(PersonViewModel), new { SubmitAction = nameof(PersonController.Edit), SubmitText = SharedLocalizer["EditAction"] })
<div>
    <a asp-action="@nameof(PersonController.Index)">@SharedLocalizer["BackToListAction"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
