@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["HomeWelcomeTitle"]</h1>
    <p>@Localizer["LinkPersonManagementMessage"] : <a asp-controller="@(Actions.Controller<PersonController>())" asp-action="@nameof(PersonController.Index)">@Localizer["LinkPersonManagementLabel"]</a>.</p>
</div>
